*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 20px;
}
main{
  margin: 20px;
  background-color: lightgrey;
}

ul{
  list-style: none;
}

.books{
  padding: 20px;
}

.books-list{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.book{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  position: relative;
}

.book img {
  align-self: center;
}

.book-title{
  word-wrap: break-word;
}

.book-shelf-changer{
  position: absolute;
  bottom: 80px;
  right: 80px;
}